.app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  margin: 5px 7px;
}

.bg-green-500 {
  background-color: #22c55e;
}

.bg-red-500 {
  background-color: #c03232;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.text-white {
  color: white;
}

.hover\:bg-blue-600:hover {
  background-color: #2563eb;
}
